
            <div class="tp-banner-container">
                <div class="tp-banner">
                    <ul>
                        <li data-transition="random" data-slotamount="7" data-masterspeed="1500">
                            <!-- MAIN IMAGE -->
                            <img src="http://www.blogandopinion.com/wp-content/uploads/2014/11/Online-Tutoring-Improves-Pass-Rates-Of-Students.jpeg" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                            <!-- LAYERS -->
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption sft skewtoleft tp-resizeme start white"
                                data-y="210"
                                data-x="center"
                                data-hoffset="0"
                                data-start="300"
                                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-speed="500"
                                data-easing="Power3.easeInOut"
                                data-endspeed="300"
                                style="z-index: 2">ㅋ
                                <h2 class="slide-title">Ringle is 1:1 online English tutoring servie</h2>
                            </div>
                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption black randomrotate skewtoleft tp-resizeme start" 
                                data-x="center" 
                                data-hoffset="0" 
                                data-y="240" 
                                data-speed="500" 
                                data-start="1300" 
                                data-easing="Power3.easeInOut" 
                                data-splitin="none" 
                                data-splitout="none" 
                                data-elementdelay="0.1" 
                                data-endelementdelay="0.1" 
                                data-endspeed="500" style="z-index: 99; white-space: pre-line;">

                                <p class="slide-description" style="font-size:20px; line-height:150%;">
                                    Ringle은 Top Professional 의 현장을 반영한 실전 1:1 영어회화 교육을 제공합니다. 
                                </p>


                            </div>
                            <!-- LAYER NR. 3 -->
                            <div class="slider-btns tp-caption customin"
                                data-x="center"
                                data-y="360"
                                data-hoffset="100"
                                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-speed="500"
                                data-start="2220"
                                data-easing="Power3.easeInOut"
                                data-endspeed="500"
                                style="z-index: 4"><a href="#" class="btn grad-btn sungpah-btn">Login</a>


                            </div>
                            <!-- LAYER NR. 4 -->
                            <div class="slider-btns tp-caption customin"
                                data-x="center"
                                data-y="360"
                                data-hoffset="-70"
                                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-speed="500"
                                data-start="1800"
                                data-easing="Power3.easeInOut"
                                data-endspeed="500"
                                style="z-index: 4"><a href="#" class="btn grad-btn sungpah-btn">
                                More About Us</a>
                            </div>
                        </li>

                    </ul><!-- end ul elements -->
                    
                </div><!-- end tp-banner -->
            </div><!-- End Home Slider Container -->

            <div class="clearfix"></div>

            <section class="full-section latest-courses-section" id="tutor">
                <div class="container">
                    
                    <h3 class="section-title" style="font-size:30px;line-height:150%;">


                        <i class="fa fa-map-marker"></i>
                        Ringle 튜터: 당신의 영어 실력을 향상 시켜줄 완벽한 파트너</h3>
                    
                    <p class="section-description" style="line-height:150%; font-size:18px; ">
                        Ringle 튜터들은 전 세계 최고의 재원들입니다 (“전원 미국 Top 10 대학에 재학 중”)</br>

                        Ringle 튜터들은 최고의 English Tutoring을 제공합니다 (“Ringle 튜터 평가 7점 만점 중 6.8점 기록 중”)</br>

                        Ringle 튜터들은 최적의 Discussion 파트너 입니다.  (“튜터의 관심사-전공에 부합하는 수업을 진행 중”) </br>
                    </p><!-- End Section Description -->   
                </div>
                </br>

            <section class="testimonials-section latest-courses-content fadeInDown-animation">
                <div class="testimonials-content fadeInDown-animation">
                    <h4 class="title"></h4>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="testimonials-slider" class="flexslider">
                                    <ul class="slides">
                                        <li class="testimonial">
                                            <p class="description">
                                            Major: Enligh Literature </br>
                                            Specilty: Culture, Literature, Business</br>

                                            </p>
                                            <div class="image">
                                                <img src="http://static.wixstatic.com/media/cf5363_a17ff575ce31469eb4790c8947df11a3.png_srz_p_183_188_75_22_0.50_1.20_0.00_png_srz" alt="">
                                            </div>
                                            <div class="info">
                                                <p class="name">Bianca</p>
                                                <p class="position">Stanford University</p>
                                            </div>
                                        </li><!-- End 1st Slide Item -->

                                        <li class="testimonial">
                                            <p class="description">
                                            Major: Pre-Med School </br>
                                            Specilty: Technology, biology, healthcare</br>


                                            </p>
                                            <div class="image">
                                                <img src="http://static.wixstatic.com/media/cf5363_cddce747da224305bc671005a33ceaa3.png_srz_p_183_189_75_22_0.50_1.20_0.00_png_srz" alt="">
                                            </div>
                                            <div class="info">
                                                <p class="name">Danny</p>
                                                <p class="position">Harvard University</p>
                                            </div>
                                        </li><!-- End 1st Slide Item -->

                                         <li class="testimonial">
                                            <p class="description">
                                            Major: Economics School </br>
                                            Specilty: Business, Economics, Energy</br>


                                            </p>
                                            <div class="image">
                                                <img src="http://static.wixstatic.com/media/cf5363_d42599852fff4f16992a188cb8afd647.png_srz_p_191_180_75_22_0.50_1.20_0.00_png_srz" alt="">
                                            </div>
                                            <div class="info">
                                                <p class="name">Joey</p>
                                                <p class="position">Harvard University</p>
                                            </div>
                                        </li><!-- End 1st Slide Item -->






                                        






                                    </ul><!-- End ul Items -->
                                </div>
                            </div>
                        </div><!-- End row -->
                    </div><!-- End container -->
                </div><!-- End Testimonials Content -->
            </section><!-- End Testimonials Section -->









            <section class="full-section latest-courses-section">
                <div class="container">
                   
                    <h3 class="section-title" style="font-size:30px;">
                        <i class="fa fa-book"></i> Ringle 교재: 최신 & 실전 비즈니스 현장을 담은 화두로 구성</h3>
                    <p class="section-description">
                    </p><!-- End Section Description -->
                        
                    <p class="section-description">
                    </p><!-- End Section Description -->

                    <p class="section-description">
                    </p><!-- End Section Description -->

                    <p class="section-description">
                    </p><!-- End Section Description -->
                    <p class="section-description" style="font-size:18px; line-height:150%;">
                        Ringle 교재는 전 산업에 대한 최신 비즈니스 화두를 담고 있습니다. </br>
                        Ringle 교재는 비즈니스 상황에서의 Small Talk 연습 기회 역시 제공합니다. (“정치-사회-여가-스포츠 화두 제공”) </br>

                        Ringle 교재는 ‘여러분의 현장’을 이해하고 있습니다 (“Stanford MBA 및 Top 3 컨설팅 출신들이 교재 제작 중”)
                    </br>
                    </p>      


                </div>
                <div class="section-content latest-courses-content alt fadeInDown-animation">
                    <div class="container">
                        <div class="row">
                            <div id="courses-slider" class="flexslider">
                                <ul class="slides">
                                    <li class="course-slide-item clearfix">
                                        <div class="col-md-12">
                                            <div class="course">
                                                <div class="featured-badge"><span>New</span></div>
                                                <div class="course-image">
                                                    <div class="details-overlay">
                                                        <span class="place">
                                                            <i class="fa fa-map-marker"></i>
                                                            <span class="text">가장 사랑 받는 케이스</span>
                                                        </span>
                                                        <span class="time">
                                                            <i class="fa fa-clock-o"></i>
                                                            <span class="text">어떤 정보?</span>
                                                        </span>
                                                    </div><!-- End Course Overlay -->
                                                    <img src="http://www.androidheadlines.com/wp-content/uploads/2012/12/google_vs_amazon_271403429198_640x360.jpg" class="img-responsive" alt="">
                                                </div><!-- End Course Image -->
                                                <div class="course-info">
                                                    <h3 class="course-title"><a href="13-single-course.html" class="ln-tr">Google VS Amazon</a></h3>
                                                    <p class="course-description">
                                                        구글과 아마존의 치열한 경쟁 구도
                                                    </p>
                                                    <div class="buttons">
                                                        <a href="#" class="btn grad-btn orange-btn read-btn">Read More</a>
                                                        <a href="#" class="btn grad-btn subscribe-btn">Subscribe</a>
                                                    </div>
                                                </div>
                                            </div><!-- End Course -->
                                        </div><!-- End col-md-12 -->
                                    </li><!-- End 1st Slide -->
                                    <li class="course-slide-item clearfix">
                                        <div class="col-md-12">
                                            <div class="course">
                                                <div class="featured-badge"><span>New</span></div>
                                                <div class="course-image">
                                                    <div class="details-overlay">
                                                        <span class="place">
                                                            <i class="fa fa-map-marker"></i>
                                                            <span class="text">가장 사랑 받는 케이스</span>
                                                        </span>
                                                        <span class="time">
                                                            <i class="fa fa-clock-o"></i>
                                                            <span class="text">어떤 정보?</span>
                                                        </span>
                                                    </div><!-- End Course Overlay -->
                                                    <img src="http://media.wholefoodsmarket.com/public/upload/files/general/Instacart_infographic_main_image.jpg" class="img-responsive" alt="">
                                                </div><!-- End Course Image -->
                                                <div class="course-info">
                                                    <h3 class="course-title"><a href="13-single-course.html" class="ln-tr">Google VS Amazon</a></h3>
                                                    <p class="course-description">
                                                        구글과 아마존의 치열한 경쟁 구도
                                                    </p>
                                                    <div class="buttons">
                                                        <a href="#" class="btn grad-btn orange-btn read-btn">Read More</a>
                                                        <a href="#" class="btn grad-btn subscribe-btn">Subscribe</a>
                                                    </div>
                                                </div>
                                            </div><!-- End Course -->
                                        </div><!-- End col-md-12 -->
                                    </li><!-- End 1st Slide -->

                                    <li class="course-slide-item clearfix">
                                        <div class="col-md-12">
                                            <div class="course">
                                                <div class="featured-badge"><span>New</span></div>
                                                <div class="course-image">
                                                    <div class="details-overlay">
                                                        <span class="place">
                                                            <i class="fa fa-map-marker"></i>
                                                            <span class="text">가장 사랑 받는 케이스</span>
                                                        </span>
                                                        <span class="time">
                                                            <i class="fa fa-clock-o"></i>
                                                            <span class="text">어떤 정보?</span>
                                                        </span>
                                                    </div><!-- End Course Overlay -->
                                                    <img src="https://a2.muscache.com/airbnb/static/about/resources/airbnb-logo-293-5b1924f36d180a53fdca602da3e5bc6c.png" class="img-responsive" alt="">
                                                </div><!-- End Course Image -->
                                                <div class="course-info">
                                                    <h3 class="course-title"><a href="13-single-course.html" class="ln-tr">Google VS Amazon</a></h3>
                                                    <p class="course-description">
                                                        구글과 아마존의 치열한 경쟁 구도
                                                    </p>
                                                    <div class="buttons">
                                                        <a href="#" class="btn grad-btn orange-btn read-btn">Read More</a>
                                                        <a href="#" class="btn grad-btn subscribe-btn">Subscribe</a>
                                                    </div>
                                                </div>
                                            </div><!-- End Course -->
                                        </div><!-- End col-md-12 -->
                                    </li><!-- End 1st Slide -->
                                    <li class="course-slide-item clearfix">
                                        <div class="col-md-12">
                                            <div class="course">
                                                <div class="featured-badge"><span>New</span></div>
                                                <div class="course-image">
                                                    <div class="details-overlay">
                                                        <span class="place">
                                                            <i class="fa fa-map-marker"></i>
                                                            <span class="text">가장 사랑 받는 케이스</span>
                                                        </span>
                                                        <span class="time">
                                                            <i class="fa fa-clock-o"></i>
                                                            <span class="text">어떤 정보?</span>
                                                        </span>
                                                    </div><!-- End Course Overlay -->
                                                    <img src="http://www.androidheadlines.com/wp-content/uploads/2012/12/google_vs_amazon_271403429198_640x360.jpg" class="img-responsive" alt="">
                                                </div><!-- End Course Image -->
                                                <div class="course-info">
                                                    <h3 class="course-title"><a href="13-single-course.html" class="ln-tr">Google VS Amazon</a></h3>
                                                    <p class="course-description">
                                                        구글과 아마존의 치열한 경쟁 구도
                                                    </p>
                                                    <div class="buttons">
                                                        <a href="#" class="btn grad-btn orange-btn read-btn">Read More</a>
                                                        <a href="#" class="btn grad-btn subscribe-btn">Subscribe</a>
                                                    </div>
                                                </div>
                                            </div><!-- End Course -->
                                        </div><!-- End col-md-12 -->
                                    </li><!-- End 1st Slide -->
                                    <li class="course-slide-item clearfix">
                                        <div class="col-md-12">
                                            <div class="course">
                                                <div class="featured-badge"><span>New</span></div>
                                                <div class="course-image">
                                                    <div class="details-overlay">
                                                        <span class="place">
                                                            <i class="fa fa-map-marker"></i>
                                                            <span class="text">가장 사랑 받는 케이스</span>
                                                        </span>
                                                        <span class="time">
                                                            <i class="fa fa-clock-o"></i>
                                                            <span class="text">어떤 정보?</span>
                                                        </span>
                                                    </div><!-- End Course Overlay -->
                                                    <img src="http://media.wholefoodsmarket.com/public/upload/files/general/Instacart_infographic_main_image.jpg" class="img-responsive" alt="">
                                                </div><!-- End Course Image -->
                                                <div class="course-info">
                                                    <h3 class="course-title"><a href="13-single-course.html" class="ln-tr">Google VS Amazon</a></h3>
                                                    <p class="course-description">
                                                        구글과 아마존의 치열한 경쟁 구도
                                                    </p>
                                                    <div class="buttons">
                                                        <a href="#" class="btn grad-btn orange-btn read-btn">Read More</a>
                                                        <a href="#" class="btn grad-btn subscribe-btn">Subscribe</a>
                                                    </div>
                                                </div>
                                            </div><!-- End Course -->
                                        </div><!-- End col-md-12 -->
                                    </li><!-- End 1st Slide -->

                                    <li class="course-slide-item clearfix">
                                        <div class="col-md-12">
                                            <div class="course">
                                                <div class="featured-badge"><span>New</span></div>
                                                <div class="course-image">
                                                    <div class="details-overlay">
                                                        <span class="place">
                                                            <i class="fa fa-map-marker"></i>
                                                            <span class="text">가장 사랑 받는 케이스</span>
                                                        </span>
                                                        <span class="time">
                                                            <i class="fa fa-clock-o"></i>
                                                            <span class="text">어떤 정보?</span>
                                                        </span>
                                                    </div><!-- End Course Overlay -->
                                                    <img src="https://a2.muscache.com/airbnb/static/about/resources/airbnb-logo-293-5b1924f36d180a53fdca602da3e5bc6c.png" class="img-responsive" alt="">
                                                </div><!-- End Course Image -->
                                                <div class="course-info">
                                                    <h3 class="course-title"><a href="13-single-course.html" class="ln-tr">Google VS Amazon</a></h3>
                                                    <p class="course-description">
                                                        구글과 아마존의 치열한 경쟁 구도
                                                    </p>
                                                    <div class="buttons">
                                                        <a href="#" class="btn grad-btn orange-btn read-btn">Read More</a>
                                                        <a href="#" class="btn grad-btn subscribe-btn">Subscribe</a>
                                                    </div>
                                                </div>
                                            </div><!-- End Course -->
                                        </div><!-- End col-md-12 -->
                                    </li><!-- End 1st Slide -->

                                </ul><!-- End ul Items -->
                            </div><!-- End Courses Slider -->
                        </div><!-- End 1st row -->
                    </div><!-- End Container -->
                </div><!-- End Latest-Courses Section Content -->
            </section><!-- End Courses Section -->


            <section class="full-section features-section fancy-shadow" id="process">
                <div class="container">
                    <h3 class="section-title" style="font-size:30px;">
                    <i class="fa fa-book"></i> Ringle 수업: 효율적 & 효과적으로 설계된 고객 맞춤 프로세스 제공 </h3>
                    <p class="section-description" style="font-size:15px; line-height:150%;">
                        
                    </p>

                </div>
                <div class="section-content features-content fadeInDown-animation">
                    <div class="container">
                        <div class="row">


                            <div class="col-md-4 col-xs-6">
                                    <i class="fa fa-calendar fa-5x "></i></a>  
 

                                    <h5 class="feature-title" style="font-size:30px;">Step1: 수업 예약</h5>
                                    <p class="feature-description">
                                        주 단위 수업 스케줄링 통해, 고객 일정 맞춤 수업 진행 및 충분한 사전 준비 시간 제공을 보장해 드립니다. 
                                        고객의 희망 화두/수업 스타일에 가장 부합하는 튜터를 매칭시켜 드립니다. 
                                    </p>
                            </div>


                            <div class="col-md-4 col-xs-6">                                   
                                    <i class="fa fa-video-camera fa-5x "></i></a>  

                                    <h5 class="feature-title" style="font-size:30px;">Step2: Ringle 수업</h5>
                                    <p class="feature-description">
                                      Ringle 튜터와의 강도 높은 영어 토의 및 영어 교정이 40분 간 화상미팅 (Google Hangout 이용)으로 진행됩니다. 

                                    </p>
                           

                            </div>

                            <div class="col-md-4 col-xs-6">
                                 
                                      <i class="fa fa-edit fa-5x "></i></a>  
 

                                   <h5 class="feature-title" style="font-size:30px;">Step3 : Feedback</h5>
                                    <p class="feature-description">
                                        수업 종료 후, ‘영어 교정 서머리’ 및 ‘영어 구사력 평가’가 담긴 Correction 보고서를 12시간 내 제공 드립니다. 

                                    </p>
                            </div>
                           
                        </div>
                    </div>
                </div><!-- End Features Section Content -->
            </section><!-- End Features Section -->



            <section class="full-section features-section fancy-shadow" id="process">
                <div class="container">
                    <h3 class="section-title" style="font-size:30px;">
                    <i class="fa fa-book"></i> 고객 레퍼런스 </h3>
                    <p class="section-description" style="font-size:18px; line-height:150%;">
                        
                        Ringle 한국 최고의 Professional 분들에게 영어 수업을 제공하고 있습니다. </br>

                         <i class="fa fa-check"></i> 고객 레퍼런스 </h3><br>
                        Ringle은 고객 분들에게 높은 만족을 드리고 있습니다.</br>


                        하지만, Ringle은 next-level top quality 수업 진행을 위해, 새로운 컨텐츠/기술을 끊임없이 개발하고 있습니다. : 이부분에 고객들의 추천 reference를 받을 것임. 이걸 슬라이드 식으로 자동으로 보여주는게 좋을려나? 아이디어 언제든 웰컴! </br>

                    </p>

                </div>
                <div class="section-content features-content fadeInDown-animation">
                    <div class="container">
                        <div class="row">


                            <div class="col-md-3 col-xs-6">
                             

                                     <img src="http://careeredge.bc.edu/wp-content/uploads/sites/4/2014/09/BCG.jpg" class="img-responsive" alt="">

                                    <p class="feature-description">
                            </div>

                            <div class="col-md-3 col-xs-6">
                           

                                     <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/86/Bain_and_Company_Logo_1.svg/360px-Bain_and_Company_Logo_1.svg.png" class="img-responsive" alt="">
                                     
                                    <p class="feature-description">
                            </div>

                            <div class="col-md-3 col-xs-6">
                              

                                     <img src="http://www.comp.nus.edu.sg/~brown/accv2014/Samsung.png" class="img-responsive" alt="">
                                     
                                    <p class="feature-description">
                            </div>

                            <div class="col-md-3 col-xs-6">
                             

                                     <img src="http://dramancompany.com/static/images/top_logo.png" class="img-responsive" alt="">
                                     
                                    <p class="feature-description">
                            </div>

                            <div class="col-md-3 col-xs-6">
                         

                                     <img src="http://www.venturesquare.net/wp-content/uploads/2013/04/3957562538.png" class="img-responsive" alt="">
                                     
                                    <p class="feature-description">
                            </div>


                            <div class="col-md-3 col-xs-6">
                                     <img src="http://images.kbench.com:8080/kbench/article/2015_01/k145838p1n1.jpg" class="img-responsive" alt="">               
                                    <p class="feature-description">
                            </div>



                            <div class="col-md-3 col-xs-6">
                                     <img src="http://www.logospike.com/wp-content/uploads/2014/11/Hyundai_logo-2.jpg" class="img-responsive" alt="">               
                                    <p class="feature-description">
                            </div>

                            <div class="col-md-3 col-xs-6">
                                     <img src="http://i.forbesimg.com/media/lists/companies/google_416x416.jpg" class="img-responsive" alt="">               
                                    <p class="feature-description">
                            </div>






                           
                        </div>
                    </div>
                </div><!-- End Features Section Content -->
            </section><!-- End Features Section -->





<section class="full-section features-section fancy-shadow" id="process">
                <div class="container">
                    <h3 class="section-title" style="font-size:30px;">
                    <i class="fa fa-book"></i>   Ringle 팀: 고객 & 미국 현장을 가장 잘 이해하는 멤버로 구성</br></h3>
                    <p class="section-description" style="font-size:18px; line-height:150%;">
                        
                      
                        Ringle 팀은 최고 Quality 수업 제공을 위한 최적 멤버로 구성되어 있습니다. </br>
                        수업 개발: 이승훈 (BCG / Devsisters 근무, Stanford MBA 재학 중)</br>
                        기술 개발: 이성파 (카이스트 석사, 반도체 및 소프트웨어 개발 , Stanford MBA 재학 중) </br>
                        민영이도? 넣어주면 땡큐! ㅋ 
                        튜터 발굴/교육: 이성파, 심선욱 (용인외고 졸업, Stanford 경제학부 졸업)</br>
                        고객 전담: 송지연 (Univ. of Michigan 석사, SoftBank Ventures 근무) </br>
                    </p>

                </div>
                <div class="section-content features-content fadeInDown-animation">
                    <div class="container">
                        <div class="row">
                           

                           
                        </div>
                    </div>
                </div><!-- End Features Section Content -->
            </section><!-- End Features Section -->








            <section class="full-section course-search-section">
                <div class="content fadeInDown-animation">  
                    <div class="container">
                        <h3 class="section-title" style="font-size:25px;">Contact information</h3>
                        <h3 class="section-title" style="font-size:15px; line-height:120%;">
                           첫 수업이신 경우, 고객의 영어 고민을 듣고 첫 수업에 대한 궁금증을 풀어드리고자 수업에 앞서 5-10분 정도의 간단한 Hangout Preview Session을 진행하고 있습니다. 
                        </h3>

                        <div class="col-md-6 col-xs-4 " style="text-align:center;">

                            <i class="fa fa-phone fa-5x "></i></a>  
                            <h3 class="section-title" style="font-size:15px;">408-564-2938</h5>
                            <p class="feature-title" style="font-size:15px;">
                            </p>
                        </div>
                        <div class="col-md-6 col-xs-4 " style="text-align:center;">

                            <i class="fa fa-paper-plane fa-5x "></i></a>  
                            <h3 class="section-title" style="font-size:15px;">ringle@ringleplus.com</h5>
                            <p class="feature-title" style="font-size:15px;">
                            </p>
                        </div>
                    </div>
                </div>
            </section><!-- End Courses Search Section -->
            <div class="clearfix"></div>
            <div class="clearfix"></div>
            <div class="clearfix"></div>
            


            <section class="pricing-tables features-section fancy-shadow">
                <div class="content fadeInDown-animation">  
                    <div class="container">
                        <h3 class="section-title" style="font-size:25px;">Contact information</h3>
                        <p class="section-description" style="font-size:15px; line-height:120%;">
                        이 곳은 가격결정을 위한 페이지 입니다. 
                        </p></br>
                    <div class="row table-row fadeInDown-animation table-1">
                        <div class="col-md-2 col-sm-6">
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="table">
                                <div class="table-header grad-btn">
                                    <div class="icon ln-tr"><i class="fa fa-cloud"></i></div><!-- end icon -->
                                    <p class="text">월 4회 Plan</p><!-- end text -->
                                </div><!-- end table header -->

                                <div class="table-body">
                                    <ul class="features">
                                        <li>Hosting acounts</li>
                                        <li>1000 GB Bandwith</li>
                                        <li>Unlimited email accounts</li>
                                        <li>Unlimited FTP accounts</li>
                                        <li>Enhanced security</li>
                                        <li>24/7 Suport</li>
                                    </ul><!-- end features list -->
                                </div><!-- end table body -->

                                <div class="table-footer">
                                    <div class="order-btn">
                                        <a href="#" class="grad-btn ln-tr">10 <span class="currency">$ Monthly</span>
                                            <span class="icon fr ln-tr"><i class="fa fa-angle-right"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="table">
                                <div class="table-header grad-btn">
                                    <div class="icon ln-tr"><i class="fa fa-cloud"></i></div><!-- end icon -->
                                    <p class="text">월 8회 Plan</p><!-- end text -->
                                </div><!-- end table header -->

                                <div class="table-body">
                                    <ul class="features">
                                        <li>Hosting acounts</li>
                                        <li>1000 GB Bandwith</li>
                                        <li>Unlimited email accounts</li>
                                        <li>Unlimited FTP accounts</li>
                                        <li>Enhanced security</li>
                                        <li>24/7 Suport</li>
                                    </ul><!-- end features list -->
                                </div><!-- end table body -->

                                <div class="table-footer">
                                    <div class="order-btn">
                                        <a href="#" class="grad-btn ln-tr">10 <span class="currency">$ Monthly</span>
                                            <span class="icon fr ln-tr"><i class="fa fa-angle-right"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6">
                        </div>
                        

                        


                    </div>


                </div>
            </section>
                             

