<style>

<%1.upto(2) do |item|%>
.item-<%=item%> {

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0.3))), url('/assets/images/main<%=item%>.jpg') repeat 0 0;

  background: -ms-linear-gradient(top, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%), url('/assets/images/main<%=item%>.jpg') repeat 0 0;

  background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 100%), url('/assets/images/main<%=item%>.jpg') repeat 0 0;
  
  }
<%end%>

.tutors .item figure img {
  border-radius:200px;
  width:180px;
}

.animated .pull-left{
  margin-left: -15px;
}

.caption h1 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

.caption p {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

</style>
      <!-- ============================================================= SECTION – HERO ============================================================= -->
      
      <section id="hero">
        <div id="owl-main" class="owl-carousel height-lg owl-inner-nav owl-ui-lg">
          
          <div class="item item-1">
            <div class="container">
              <div class="caption vertical-center text-center ">
                
                <h1 class="fadeInLeft-1 light-color">1:1 English Tutoring</h1>
                <p class="fadeInLeft-2 light-color">미국 명문대 재학중인  튜터들과 1:1로 만나보세요</p>
                <div class="fadeInLeft-3">
                  <a href="#" class="btn btn-large">Get started now</a>
                </div><!-- /.fadeIn -->
                
              </div><!-- /.caption -->
            </div><!-- /.container -->
          </div><!-- /.item -->
          
          <div class="item item-2" >
            <div class="container">
              <div class="caption vertical-center text-center">
                
                <h1 class="fadeInDown-1 light-color">carefully selected topic</h1>
                <p class="fadeInDown-2 light-color">비즈니스 영어에 특화된 미국 현지 튜터들과 차별화된 주제로 대화해보세요.</p>
                <div class="fadeInDown-3">
                  <a href="#" class="btn btn-large">Get started now</a>
                </div><!-- /.fadeIn -->
                
              </div><!-- /.caption -->
            </div><!-- /.container -->
          </div><!-- /.item -->
          
        </div><!-- /.owl-carousel -->
      </section>
      
      <section id="ringle-class">
        <div class="container inner-top inner-bottom-sm">
          
          <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
              <header>
                <h2>1:1 영어회화의 혁신을 이루어낸 Ringle의 차별점</h2>
              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->
        
          <div class="row inner-top-sm">
            
            <div class="col-md-1">
              <div class="icon pull-left">
                <i class="icon-graduation-cap icn"></i>
              </div><!-- /.icon -->
            </div><!-- /.col -->
            
            <div class="col-md-3 inner-bottom-xs">
              <h3>미국 Top School</h3>
              <p class="text-small">미국 명문대생들이 말하는 최신, 최고급 영어표현을 경험하세요.</p>
            </div><!-- /.col -->
            
            <div class="col-md-1">
              <div class="icon pull-left">
                <i class="icon-chat-empty icn"></i>
              </div><!-- /.icon -->
            </div><!-- /.col -->
            <div class="col-md-3 inner-bottom-xs">
              <h3>실전 비즈니스</h3>
              <p class="text-small">What's up Dude는 이제 그만. 저희 Team이 맞춤 제작한 교재로 비즈니스 영어에 집중하세요.</p>
            </div><!-- /.col -->

            <div class="col-md-1">
              <div class="icon pull-left">
                <i class="icon-laptop-1 icn"></i>
              </div><!-- /.icon -->
            </div><!-- /.col -->

          
            <div class="col-md-3 inner-bottom-xs">
              <h3>생생한 화상 미팅</h3>
              <p class="text-small">강도 높은 Discussion 및 Correction이 40분 간의 화상미팅 으로 진행됩니다.</p>
            </div><!-- /.col -->
            
          
            
          </div><!-- /.row -->
        
        </div><!-- /.container -->
      </section>
      
      

      <!-- tutors -->
      <section id="tutors" class="light-bg">
        <div class="container inner-top-sm inner-bottom-sm">
          <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
              <header>
                <h2>실력이 검증된 30명의 미국 명문대 Tutor</h2>
                <p>전원 미국 Top 10 대학에 재학중인 세계 최고의 Brain</br>
                  고객중심의 차별화된 English Tutoring을 제공 (평균 평점 6.8/7)</br>최적의 Discussion 파트너:다양한 전공지식과 비즈니스 경험을 겸비
                </p>
              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->
          
          <div class="row inner-top-sm">
            <div class="col-sm-12">
              <div id="owl-clients" class="owl-carousel owl-outer-nav tutors">
                <div class="item">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Bianca</h4>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="/assets/images/tutor/bianca.png">
                    </figure>
                  </div><!-- /.item -->

                <div class="item">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Amber</h4>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="/assets/images/tutor/amber.png">
                    </figure>
                </div><!-- /.item -->
                
                <div class="item">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Joey</h4>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="/assets/images/tutor/joey.png" >
                    </figure>
                </div><!-- /.item -->
                
                <div class="item">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Sierra</h4>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="/assets/images/tutor/sierra.png" >
                    </figure>
                </div><!-- /.item -->
                
                <div class="item">
                    <figure>
                      <figcaption class="text-overlay">
                        <div class="info">
                          <h4>Yoojin</h4>
                        </div><!-- /.info -->
                      </figcaption>
                      <img src="/assets/images/tutor/yoojin.png" alt="">
                    </figure>
                </div><!-- /.item -->
              </div><!-- /.owl-carousel -->
            </div><!-- /.col -->
          </div><!-- /.row -->
          
        </div><!-- /.container -->
      </section>
      <%#
      <section id="ringle-cases">
        <div class="container inner-top-md">
          <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
              <header>
                <h2>최신 비즈니스 현장의 화두를 담아낸 유일한 교재</h2>
                <p>Stanford MBA 및 Top 3 컨설팅 출신인 Ringle Team이 직접 제작한 교재들을 소개합니다. </p>
              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->

        </div><!-- /.container -->
      </section>

      
      <!-- ============================================================= SECTION – WHO WE ARE : END ============================================================= -->
      
      
      <!-- ============================================================= SECTION – LATEST WORKS ============================================================= -->
    
      <section id="ringle-customers" class="light-bg">
        <div class="container inner">
          
          <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
              <header>
                <h1>Ringle의 고객 레퍼런스</h1>
                <p>Ringle 한국 최고의 Professional 분들에게 영어 수업을 제공하고 있습니다. </br>
                  또한 top quality 수업 진행을 위해, 새로운 컨텐츠/기술을 끊임없이 개발하고 있습니다.</br>
                </p>
              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->
         
          <div class="row inner-top-sm">
            <div class="owl-carousel owl-item-gap">
              
              <div class="item">
                <a href="portfolio-post.html">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Vintage Bicycles</h4>
                        <p>Interactive</p>
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="http://careeredge.bc.edu/wp-content/uploads/sites/4/2014/09/BCG.jpg" alt="">
                  </figure>
                </a>
              </div><!-- /.item -->
              
              <div class="item">
                <a href="portfolio-post.html">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Simpli Nota</h4>
                        <p>Identity</p>
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/86/Bain_and_Company_Logo_1.svg/360px-Bain_and_Company_Logo_1.svg.png" alt="">
                  </figure>
                </a>
              </div><!-- /.item -->
              
              <div class="item">
                <a href="portfolio-post.html">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Vinyl Records</h4>
                        <p>Identity</p>
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="http://www.comp.nus.edu.sg/~brown/accv2014/Samsung.png" alt="">
                  </figure>
                </a>
              </div><!-- /.item -->
              
              <div class="item">
                <a href="portfolio-post.html">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Astor & Yancy</h4>
                        <p>Identity</p>
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="http://images.kbench.com:8080/kbench/article/2015_01/k145838p1n1.jpg" alt="">
                  </figure>
                </a>
              </div><!-- /.item -->
              
              <div class="item">
                <a href="portfolio-post.html">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Signwall</h4>
                        <p>Identity</p>
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="http://www.logospike.com/wp-content/uploads/2014/11/Hyundai_logo-2.jpg" alt="">
                  </figure>
                </a>
              </div><!-- /.item -->
              
              <div class="item">
                <a href="portfolio-post.html">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Tri Fold Brochure</h4>
                        <p>Print</p>
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="assets/images/art/work10.jpg" alt="">
                  </figure>
                </a>
              </div><!-- /.item -->
              
              <div class="item">
                <a href="portfolio-post.html">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>Embroidered</h4>
                        <p>Identity</p>
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="assets/images/art/work05a.jpg" alt="">
                  </figure>
                </a>
              </div><!-- /.item -->
              
              <div class="item">
                <a href="portfolio-post.html">
                  <figure>
                    <figcaption class="text-overlay">
                      <div class="info">
                        <h4>El Corcho</h4>
                        <p>Identity</p>
                      </div><!-- /.info -->
                    </figcaption>
                    <img src="assets/images/art/work12.jpg" alt="">
                  </figure>
                </a>
              </div><!-- /.item -->
              
            </div><!-- /.owl-carousel -->
          </div><!-- /.row -->
          
        </div><!-- /.container -->
      </section>



      <section id="reference">
        <div class="container inner-bottom">
          
          
          
          <div class="row">
            <div class="col-md-10 center-block">
              <div class="row">
                
                
                
                <div class="col-sm-6 inner-top inner-left-sm">
                  <h3 class="sidelines text-center"><span>이승훈</span></h3>
                  
                  <blockquote>
                    <p>링글은 재밌어욤ㅋ</p>
                    <footer>
                      <cite>Ringle</cite>
                    </footer>
                  </blockquote>
                </div><!-- /.col -->
                
                <div class="col-sm-6 inner-top inner-left-sm">
                  <h3 class="sidelines text-center"><span>송지</span></h3>
                  
                  <blockquote>
                    <p>Need a professional kickass looking portfolio template, REEN is the way to go! It is beautiful and really easy to use. Great product!</p>
                    <footer>
                      <cite>Steve Gates</cite>
                    </footer>
                  </blockquote>
                </div><!-- /.col -->
                
              </div><!-- /.row -->
            </div><!-- ./col -->
          </div><!-- /.row -->
          
          
          
          
          
        </div><!-- /.container -->
      </section>
    %>


      <section id="ringle-team" class="light-bg img-bg-softer" style="background-image: url(assets/images/art/image-background02.jpg);">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-9 inner center-block text-center">
              <header>
                <h2>Ringle Team 소개</h2>
                <p>Top Quality 수업 제공을 위한 최적 멤버로 구성 <br>
수업 개발: 이승훈 (BCG / Devsisters 근무, Stanford MBA 재학 중) </br>
기술 개발: 이성파 (카이스트 석사, 반도체 및 소프트웨어 개발 , Stanford MBA 재학 중) </br>
튜터 발굴/교육: 심선욱 (Stanford 경제학부 졸업) </br>
고객 전담: 송지연 (Univ. of Michigan 석사, SoftBank Ventures 근무) </p>
              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section>

      
        


      <section id="contact" class="dark-bg img-bg img-bg-soft" style="background-image: url(assets/images/art/slider02.jpg);">
        <div class="container inner-top-md inner-bottom-sm">
          <div class="row">
            
            <div class="col-md-8 inner-right inner-bottom-xs">
              <header>
                <h2>Contact Info</h2>
                <p>첫 수업이신 경우, 고객의 영어 고민을 듣고 첫 수업에 대한 궁금증을 풀어드리고자 수업에 앞서 5-10분 정도의 간단한 Hangout Preview Session을 진행하고 있습니다.</p>
              </header>
            </div><!-- /.col -->
            
            <div class="col-md-4">
              <h3 style="margin-top: 8px;">RINGLE</h3>
              <ul class="contacts">
                <li><i class="icon-location contact"></i>서울시 광진구 구의3동 </li>
                <li><i class="icon-mobile contact"></i> +82 (10) 3011 0007</li>
                <li><a href="mailto:info@reen.com"><i class="icon-mail-1 contact"></i> ringleadmin@ringleplus.com</a></li>
              </ul><!-- /.contacts -->
            </div><!-- /.col -->
            
          </div><!-- ./row -->
        </div><!-- /.container -->
      </section>

      <%#
      <section id="ringle-pricing">
        <div class="container inner">
          
          <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
              <header>
                <h1>Ringle Pricing</h1>
                <p>링글 결제</p>
              </header>
            </div><!-- /.col -->
          </div><!-- /.row -->
          
          <div class="row pricing">
            
            <div class="col-md-4 col-sm-6 inner-top-sm">
              <div class="plan">
                
                <header>
                  <h2>4회/mon</h2>
                  
                  <div class="price">
                    <span class="currency">W만</span>
                    <span class="amount">20</span>
                    <span class="period">/ Mo</span>
                  </div><!-- /.price -->
                  
                  <a href="#" class="btn">구매하기</a>
                </header>
                
                <ul class="features">
                  <li><i class="icon-window"></i> 20 Pages</li>
                  <li><i class="icon-hdd"></i> 10 GB Storage</li>
                  
                </ul><!-- /.features -->
                
              </div><!-- /.plan -->
            </div><!-- /.col -->
            
            <div class="col-md-4 col-sm-6 inner-top-sm">
              <div class="plan">
                
                <header>
                  <h2>8회/mon</h2>
                  
                  <div class="price">
                    <span class="currency">W만</span>
                    <span class="amount">40</span>
                    <span class="period">/ Mo</span>
                  </div><!-- /.price -->
                  
                  <a href="#" class="btn">Change to this plan</a>
                </header>
                
                <ul class="features">
                  <li><i class="icon-window"></i> 100 Pages</li>
                  <li><i class="icon-hdd"></i> 100 GB Storage</li>
                  
                </ul><!-- /.features -->
                
              </div><!-- /.plan -->
            </div><!-- /.col -->
            
            <div class="col-md-4 col-sm-6 inner-top-sm">
              <div class="plan">
                
                <header>
                  <h2>16회/mon</h2>
                  
                  <div class="price">
                    <span class="currency">W만</span>
                    <span class="amount">80</span>
                    <span class="period">/ Mo</span>
                  </div><!-- /.price -->
                  
                  <a href="#" class="btn">Change to this plan</a>
                </header>
                
                <ul class="features">
                  <li><i class="icon-window"></i> Unlimited Pages</li>
                  <li><i class="icon-hdd"></i> Unlimited Storage</li>
                  
                </ul><!-- /.features -->
                
              </div><!-- /.plan -->
            </div><!-- /.col -->
            
          </div><!-- /.row -->
          
        </div><!-- /.container -->
      </section>
    %>

