<style>
  /* 
  Generic Styling, for Desktops/Laptops 
  */
  table { 
    width: 100%; 
    border-collapse: collapse; 
  }
  /* Zebra striping */
  tr:nth-of-type(odd) { 
    background: #eee; 
  }
  th { 
    width:75px;
    text-align:center;
    background:#2b2e3b; 
    color: white; 
    font-weight: bold; 
  }
  td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
  }
  td {
    text-align: left; 
  }
</style>

<div class="inner-head" style="background-image:url('/assets/img/calendar.png');padding-bottom: 27px;">
                <div class="container">
                  <h1 class="entry-title">가능한 시간대를 선택해주세요.</h1>
                  <p class="description" style="color:#fff;">
                    매주 일정이 비슷하신 분께서는 매주 동일 항목을 선택해주시고,<br>
                    일정 변동이 있으신 분은 일정변동 항목을 선택해주신 후, 이번주와 다음주 일정을 설정해주세요.
                    </p>
                    <br>
                </div><!-- End container -->
            </div><!-- End Inner Page Head -->

            <div class="clearfix"></div>

            <section class="login-page fadeInDown-animation" style="padding-top:25px; padding-bottom:20px;">
                <div class="container">
                    <div class="row">
                      <div class="col-md-8 col-md-offset-2">
                        <input type="radio" name="same" value="1" checked> 매주 동일   <input type="radio" name="same" value="2"> 일정 변동 있음

                        <br>
                        <br>

                        <table class="table table-striped">
                          <tr>
                            <th style="background-color:#f5f5f5; color:#2b2e3b;">
                              시작시간 
                            </th>
                            <th>
                              Mon
                            </th>
                            <th>
                              Tue
                            </th>
                            <th>
                              Wed
                            </th>
                            <th>
                              Thur
                            </th>
                            <th>
                              Fri
                            </th>
                            <th style="background-color:#0394f1;">
                              Sat
                            </th>
                            <th style="background-color:#d73b37;">
                              Sun
                            </th>
                          </tr>
                          <tr>
                            <td>
                              오전 9시
                            </td>
                          </tr>
                          <tr>
                            <td>
                              오전 10시
                            </td>
                          </tr>
                          <tr>
                            <td>
                              오전 11시
                            </td>
                          </tr>
                          <tr>
                            <td>
                              오전 12시
                            </td>
                          </tr>
                          <tr>
                            <td>
                              오후 1시
                            </td>
                          </tr>
                          <tr>
                            <td>
                              오후 9시
                            </td>
                          </tr>
                          <tr>
                            <td>
                              오후 10시
                            </td>
                          </tr>
                          <tr>
                            <td>
                              오후 11시
                            </td>
                          </tr>
                          <tr>
                            <td>
                              자정(12시)
                            </td>
                          </tr>
                        </table>
            


                      </div><!-- end col-md-8/offset -->
                    </div><!-- end row -->
                  </div><!-- end container -->
            </section><!-- End Register Page -->

            <div class="clearfix"></div>
