
<div class="modal fade" id="myModal_tutor_info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<br>
<br>
<br>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">[Joey]</h2>
      </div><!-- modal header -->
      <div class="modal-body">
        <h2> Introduction </h2>
        <p>
        안녕하세요 저는 Joey 입니다. 하버드 경제학과를 졸업하였고, 금융공학, 정치, 기술, 경제에 관심이 많습니다.
        저와의 수업에서는 정치, 경제, 사회에 대한 이야기와,  또 technology가 어떻게 경제상황과 연결되는지에 대한 토의를 많이 하실 수 있습니다.
        졸업후 현재 컨설팅회사에 입사 예정입니다.
        </p>
        <h2> Joey tutor's cases </h2>
        <p>
        GREXIT, Google VS Amazon, Money VS Science in MLB, Sharing Economy <br>
        경제, 정치, 기술 관련 한 토픽을 심도있게 다룰 수 있는 것들 입니다.
        </p>       
        <div style="text-align:center;">
          <button type="button" class="btn btn-cancel" data-dismiss="modal">Close</button>
        </div>
      </div><!-- modal body -->
    </div><!-- modal content -->
  </div><!-- modal dialog -->
</div><!-- modal fade -->