<!-- purchase this plan 버튼을 누르면 먼저, 윈도우 10유저는 모바일로 결제해주세요. -->
<!-- 크롬 유저는 윈도우 익스플로러를 통해서 결재해 주세요 -->

<header>
  <div class="navbar">    
    <%if @main%>
    <div class="navbar-header">
      <div class="container">
        
        <ul class="info pull-left">
          <li><a href="#"><i class="icon-mail-1 contact"></i>contact@ringleplus.com</a></li>
          <li><i class="icon-mobile contact"></i>010-6779-0334</li>
        </ul><!-- /.info -->
        
        <ul class="social pull-right">
          <li><a href="#"><i class="icon-s-facebook"></i></a></li>
          <li><a href="#"><i class="icon-s-gplus"></i></a></li>
        </ul><!-- /.social -->
        
        <a class="navbar-brand" href="index.html"><img src="/assets/images/logo.png" class="logo" alt=""></a>
        <a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a>
        
      </div><!-- /.container -->
    </div><!-- /.navbar-header -->
    <div class="yamm">
      <div class="navbar-collapse collapse">
        <div class="container">
          
          <a class="navbar-brand" href="index.html"><img src="/assets/images/logo.png" class="logo" alt=""></a>
 
          <ul class="nav navbar-nav">
            
            <li class="page-scroll">
              <a href="#ringle-intro">About Ringle</a>
            </li>
            <li class="page-scroll">
              <a href="#ringle-program">프로그램</a>
            </li>
            <li class="page-scroll">
              <a href="#ringle-tutors">튜터</a>
            </li>

            <li class="page-scroll">
              <a href="#ringle-books">교재</a>
            </li>
            <li class="page-scroll">
              <a href="#ringle-clients">고객 레퍼런스</a>
            </li>
            <li class="page-scroll">
              <a href="/payments/pricing">Pricing</a>
              </li>

            <li class="page-scroll">
              <a href="#ringle-policy">링글 policy</a>
            </li>

          </ul><!-- /.nav -->
          
          
        </div><!-- /.container -->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.yamm -->
    <%end%>
  </div><!-- /.navbar -->
</header>
<main>      



<section id="pricing-tables">
  <div class="container inner">
    
    <div class="row">
      <div class="col-md-12 col-sm-9">
        <header>
          <a href="/"><h2><img src="/assets/images/logo.png"/></h2></a>
          <h2>결제전 유의 사항</h2>
          <p>Ringle Service를 처음 이용하시는 고객님께서는 결제하시기 전에 <strong>Ringle Team(contact@ringleplus.com)</strong>으로 연락을 주시면 Service Guide를 먼저 해 드립니다.<br>기존 고객님께서는 아래에서 해당하는 버튼을 눌러 결제를 해주세요.</p>
        </header>
      </div><!-- /.col -->
    </div><!-- /.row -->
    
    <div class="row pricing">
      
      <div class="col-md-4 col-sm-6 inner-top-sm">
        <div class="plan">
          
          <header>
            <h2>Four times plan</h2>
            
            <div class="price">
              <span class="amount" style="font-size:30px;">200,000원</span>
            </div><!-- /.price -->
            
            
            <a href="#myModal" class="btn purchase" data-option="0" data-toggle="modal" data-target="#myModal">purchase this plan</a>


          </header>
          
          <ul class="features">
            <li><i class="icon-book"></i>Two cases</li>
          </ul><!-- /.features -->
          
        </div><!-- /.plan -->
      </div><!-- /.col -->
      
      <div class="col-md-4 col-sm-6 inner-top-sm">
        <div class="plan">
          <header>
            <h2>Eight times plan</h2>
            <div class="price">
              <span class="amount" style="font-size:30px;">400,000원</span>
              <span class="period">/ 8회</span>
            </div><!-- /.price -->
            <a href="#myModal" class="btn purchase" data-option="1" data-toggle="modal" data-target="#myModal">purchase this plan</a>
            
          </header>
          <ul class="features">
            <li><i class="icon-book"></i>Four cases</li>
          </ul><!-- /.features -->

        </div><!-- /.plan -->
      </div><!-- /.col -->
      
      <div class="col-md-4 col-sm-6 inner-top-sm">
        <div class="plan">
          <header>
            <h2>Customized</h2>
            
            <div class="price">
              <span class="amount" style="font-size:30px;">50,000원</span>
              <span class="period">/ 1회</span>
            </div><!-- /.price -->

              <div class="row">

                <form action="/payments/customized" method="GET">
              <div class="col-md-2">

                <select name="number" style="margin-top:15px;">
                <% for i in 4..20 %>
                  <option value = "<%=i%>" >
                  <%= i%>
                </option>
                <% end %>
                </select>
              </div><!-- /.col -->
              <div class="col-md-10">
              <button type="submit" class="btn"> CUSTOMIZED PLAN </button>
          </form>
</div>
</div>              

          </header>

          <ul class="features">
            <li><i class="icon-book"></i>One case per two classes</li>
          </ul><!-- /.features -->
          
        </div><!-- /.plan -->
      </div><!-- /.col -->
      
    </div><!-- /.row -->
    
  </div><!-- /.container -->
</section>

<!-- Modal -->
<%= render "/payments/modal"%>  <!-- 여기에 selectBox가 있음 -->


<script>
//  $(".purchase").click(function(){
  //  var option_value = $(this).data("option");
    //$("#selectBox").val(option_value);
  
 // });
</script>


<script>
  $(".purchase").click(function(){
  

    var option_value = $(this).data("option");
    $("#selectBox").val(option_value);


  
  });
</script>





