<!DOCTYPE html>

<html>
  <head>
  <title>Ringle 1:1 English Tutoring</title>

  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="1:1 Ringle Premium English Tutoring">
    <meta name="author" content="Ringle Korea">
    
    <!-- Bootstrap Core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Customizable CSS -->
    <link href="/assets/css/main.css" rel="stylesheet" data-skrollr-stylesheet>
    <link href="/assets/css/green.css" rel="stylesheet" title="Color">
    <link href="/assets/css/owl.carousel.css" rel="stylesheet">
    <link href="/assets/css/owl.transitions.css" rel="stylesheet">
    <link href="/assets/css/animate.min.css" rel="stylesheet">
    
    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Lato:400,900,300,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic" rel="stylesheet">
    
    <!-- Icons/Glyphs -->
    <link href="/assets/fonts/fontello.css" rel="stylesheet">
    <link href="/fontello/css/fontello.css" rel="stylesheet">
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    
    <!-- HTML5 elements and media queries Support for IE8 : HTML5 shim and Respond.js -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
      <![endif]-->

</head>
    <body>

    <!-- ============================================================= HEADER ============================================================= -->
    
    <header>
      <div class="navbar">
        
        <%if @main%>
        <div class="navbar-header">
          <div class="container">
            
            <ul class="info pull-left">
              <li><a href="#"><i class="icon-mail-1 contact"></i>contact@ringleplus.com</a></li>
              <li><i class="icon-mobile contact"></i>010-3011-0007</li>
            </ul><!-- /.info -->
            
            <ul class="social pull-right">
              <li><a href="#"><i class="icon-s-facebook"></i></a></li>
              <li><a href="#"><i class="icon-s-gplus"></i></a></li>
            </ul><!-- /.social -->
            
            <!-- ============================================================= LOGO MOBILE ============================================================= -->
            
            <a class="navbar-brand" href="index.html"><img src="/assets/images/logo.png" class="logo" alt=""></a>
            
            <!-- ============================================================= LOGO MOBILE : END ============================================================= -->
            
            <a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a>
            
          </div><!-- /.container -->
        </div><!-- /.navbar-header -->
        <div class="yamm">
          <div class="navbar-collapse collapse">
            <div class="container">
              
              <!-- ============================================================= LOGO ============================================================= -->
              
              <a class="navbar-brand" href="index.html"><img src="/assets/images/logo.png" class="logo" alt=""></a>
              
              <!-- ============================================================= LOGO : END ============================================================= -->
              
              
              <!-- ============================================================= MAIN NAVIGATION ============================================================= -->
              
              <ul class="nav navbar-nav">
                <li class="page-scroll">
                  <a href="/payments/pricing">시작하기</a>
                </li>

                <li class="page-scroll">
                  <a href="#tutors">튜터 소개</a>
                </li>
                <li class="page-scroll">
                  <a href="#ringle-class">교재</a>
                </li>
                <li class="page-scroll">
                  <a href="#reference">고객</a>
                </li>
                <li class="page-scroll">
                  <a href="#ringle-team">팀 소개</a>
                </li>

                
              </ul><!-- /.nav -->
              
              <!-- ============================================================= MAIN NAVIGATION : END ============================================================= -->
              
            </div><!-- /.container -->
          </div><!-- /.navbar-collapse -->
        </div><!-- /.yamm -->
        <%end%>
      </div><!-- /.navbar -->
    </header>



    <main>


      <%= yield %>
      <div class="footer-bottom">
        <div class="container inner">
          <p class="pull-left" style="font-size:14px;">© 2015 RINGLE. All rights reserved.</p>
          <p class="pull-right" style="font-size:10px;">법인명(상호) : Ringle English Education Service 대표자(성명) : 이승훈 이성파 사업자 등록번호 안내 : [876-81-00110] 통신판매업 신고 신고준비중 
전화 : 010-6779-0334 주소 : 138-791 서울특별시 송파구 잠실3동 갤러리아팰리스 A-3105
개인정보관리책임자 : 이성파(contact@ringleplus.com)</p>
        </div><!-- .container -->
      </div><!-- .footer-bottom -->
      
    </main>
    
    
    <!-- ============================================================= FOOTER : END ============================================================= -->
    
    <!-- JavaScripts placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery.easing.1.3.min.js"></script>
    <script src="/assets/js/jquery.form.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/bootstrap-hover-dropdown.min.js"></script>
    <script src="/assets/js/skrollr.min.js"></script>
    <script src="/assets/js/skrollr.stylesheets.min.js"></script>
    <script src="/assets/js/waypoints.min.js"></script>
    <script src="/assets/js/waypoints-sticky.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/jquery.isotope.min.js"></script>
    <script src="/assets/js/jquery.easytabs.min.js"></script>
    <script src="/assets/js/viewport-units-buggyfill.js"></script>
    <script src="/assets/js/scripts.js"></script>
    
    <!-- OnScroll CSS3 Animations for Modern Browsers and IE10+ -->
    <!--[if !IE]> -->
      <script src="/assets/js/onscroll.js"></script>
    <!-- <![endif]-->
    
    <!-- For demo purposes – can be removed on production -->
    <link href="/assets/css/green.css" rel="alternate stylesheet" title="Green color">
    <link href="/assets/css/blue.css" rel="alternate stylesheet" title="Blue color">
    <link href="/assets/css/red.css" rel="alternate stylesheet" title="Red color">
    <link href="/assets/css/pink.css" rel="alternate stylesheet" title="Pink color">
    <link href="/assets/css/purple.css" rel="alternate stylesheet" title="Purple color">
    <link href="/assets/css/orange.css" rel="alternate stylesheet" title="Orange color">
    <link href="/assets/css/navy.css" rel="alternate stylesheet" title="Navy color">
    <link href="/assets/css/gray.css" rel="alternate stylesheet" title="Gray color">
    
    <script src="/switchstylesheet/switchstylesheet.js"></script>
    
    <script>
      $(document).ready(function(){ 
        $(".changecolor").switchstylesheet( { seperator:"color"} );
      });
    </script>

    </body>

</html>
